%section
  %h2.title Soil Moisture
  %main
    Line Chart
  %aside
    .big-number.widget
      .number 643
      .label Last 24 hours
%section
  %h2.title Light
  %aside
    .big-number.widget
      .number 754
      .label Last 24 hours
  %main
    Line Chart

