%section
  %main
    #lineChart
  %aside
    #moistureWidget.big-number.widget
      .number 0
      .label Avg moisture over last hour
    #lightWidget.big-number.widget
      .number 0
      .label Avg light over last hour
%section#light
  %h2.title Light
  %main
  %aside

