%section
  %main
    #lineChart
  %aside
    #moistureWidget.big-number.widget
      .number 0
      .label Avg moisture content over last hour
    #lightWidget.big-number.widget
      .number 0
      .label Avg light level over last hour
