%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title Growbot
    %link(href="/vendor/normalize-css/normalize.css" type="text/css" rel="stylesheet")
    %link(href="/stylesheets/app.css" type="text/css" rel="stylesheet")
  %body
    %header.navigation
      .menu-wrapper
        %a.logo(href="/") Growbot
        %p#js-mobile-menu.navigation-menu-button MENU
        .nav
          %ul#navigation-menu
            %li.take-reading
              %a(href="javascript:void(0)") Read Sensors
    .message-center
    = yield
    %script(src="/vendor/jquery/dist/jquery.js")
    %script(src="/vendor/d3/d3.js")
    %script(src="/javascripts/app.js")
